<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/buy-payment-method.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
                <div class="default-text middle bold text-center">
                    Payment Method
                </div>
            </div>
            <div class="links">
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Банківська картка
                            </span>
                        </span>
                </a>
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Платіж за реквизитами (IBAN)
                            </span>
                        </span>
                </a>
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Криптовалюта
                            </span>
                        </span>
                </a>
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Каса Електрум
                            </span>
                        </span>
                </a>
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Валюта Clear Junction
                            </span>
                        </span>
                </a>
                <a class="links-item bg-grey-lighter" href="#">
                        <span class="icon-with-text">
                            <img class="icon-with-text-icon large mr-small" src="../assets/images/bitcoin.svg" alt="">
                            <span class="icon-with-text-text default-text middle bold dark">
                                Фішка
                            </span>
                        </span>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
