<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/detail-cryptocurrency.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
                <div class="default-text middle bold text-center">
                    ОВГЗ
                </div>
            </div>
            <div class="default-text small grey mb-extra-tiny">
                Ваш баланс фонду
            </div>
            <div class="default-text xxl extra-bold dark flex justify-between">
                34,970 грн
                <div class="default-text-span small-extra lighter bg-success br-extra-big with-bg before-arrow">
                    +10%
                </div>
            </div>
            <div class="image-box large m-x-auto mt-middle-extra mb-middle content-center">
                <img class="image-box-image" src="../assets/images/chart.svg" alt="">
            </div>
            <h4>
                Умови фінансування
            </h4>
            <p class="mb-tiny">
                Мінімальна сума зарахувань 500 грн. Зарахування холдуються на 1 тиждень.
            </p>
            <h4>
                Умови фінансування
            </h4>
            <p class="mb-tiny">
                Мінімальна сума зарахувань 500 грн. Зарахування холдуються на 1 тиждень.
            </p>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="buttons">
                    <button class="btn primary">
                        Поповнити
                    </button>
                    <button class="btn bordered">
                        Вивести
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
