<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/exchange-crypto-success.scss">
</head>
<body>
    <main class="main pt-small">
        <div class="main-top">
            <div class="image-box middle m-x-auto mb-large mt-large">
                <img class="image-box-img" src="../assets/images/success-img.svg" alt="">
            </div>
            <h2 class="text-center">Success!</h2>
            <div class="text-box m-x-auto primary-light">
                <div class="default-text middle bold primary">
                    22878.12 DAI
                </div>
            </div>
            <div class="default-text small-extra grey text-center">
                Has been exchange from ETH to DAI
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <button class="btn primary">
                    Done
                </button>
            </div>
        </div>
    </main>
</body>
</html>
