<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/home-v1.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header two-col gap-small">
                <div class="main-top-header-col">
                    <div class="default-text xxl extra-bold">
                        Mobi.Bank
                    </div>
                    <div class="default-text small-extra grey">
                        Increase your profit
                    </div>
                </div>
                <div class="links two-col">
                    <a class="icon-link middle bg-grey-lighter br-full content-center" href="#">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.58329 17.5C13.9555 17.5 17.5 13.9556 17.5 9.58335C17.5 5.2111 13.9555 1.66669 9.58329 1.66669C5.21104 1.66669 1.66663 5.2111 1.66663 9.58335C1.66663 13.9556 5.21104 17.5 9.58329 17.5Z" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.3333 18.3334L16.6666 16.6667" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a class="icon-link middle bg-grey-lighter br-full content-center" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 5C10 4.46957 10.2107 3.96086 10.5858 3.58579C10.9609 3.21071 11.4696 3 12 3C12.5304 3 13.0391 3.21071 13.4142 3.58579C13.7893 3.96086 14 4.46957 14 5C15.1484 5.54303 16.1274 6.38833 16.8321 7.4453C17.5367 8.50227 17.9404 9.73107 18 11V14C18.0753 14.6217 18.2954 15.2171 18.6428 15.7381C18.9902 16.2592 19.4551 16.6914 20 17H4C4.54494 16.6914 5.00981 16.2592 5.35719 15.7381C5.70457 15.2171 5.92474 14.6217 6 14V11C6.05956 9.73107 6.4633 8.50227 7.16795 7.4453C7.8726 6.38833 8.85159 5.54303 10 5" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 17V18C9 18.7956 9.31607 19.5587 9.87868 20.1213C10.4413 20.6839 11.2044 21 12 21C12.7956 21 13.5587 20.6839 14.1213 20.1213C14.6839 19.5587 15 18.7956 15 18V17" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="default-cards gap-extra">
                <div class="default-card content-justify br-large-extra bg-primary p-y-middle p-x-middle-extra with-links">
                    <div class="default-card-col">
                        <div class="default-text lighter small semi-bold">
                            Пайовий фонд
                        </div>
                        <div class="default-text lighter extra extra-bold">
                            34,010.00 грн
                        </div>
                    </div>
                    <div class="default-card-col gap-none">
                        <a class="image-box tiny b-grey-opacity br-tiny content-center ml-auto mb-small" href="#">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8334 12.8333H1.16669C0.92752 12.8333 0.729187 12.635 0.729187 12.3958C0.729187 12.1566 0.92752 11.9583 1.16669 11.9583H12.8334C13.0725 11.9583 13.2709 12.1566 13.2709 12.3958C13.2709 12.635 13.0725 12.8333 12.8334 12.8333Z" fill="white"/>
                                <path d="M5.6875 2.33335V12.8334H8.3125V2.33335C8.3125 1.69169 8.05 1.16669 7.2625 1.16669H6.7375C5.95 1.16669 5.6875 1.69169 5.6875 2.33335Z" fill="white"/>
                                <path d="M1.75 5.83335V12.8334H4.08333V5.83335C4.08333 5.19169 3.85 4.66669 3.15 4.66669H2.68333C1.98333 4.66669 1.75 5.19169 1.75 5.83335Z" fill="white"/>
                                <path d="M9.91669 8.74998V12.8333H12.25V8.74998C12.25 8.10831 12.0167 7.58331 11.3167 7.58331H10.85C10.15 7.58331 9.91669 8.10831 9.91669 8.74998Z" fill="white"/>
                            </svg>
                        </a>
                        <svg width="57" height="22" viewBox="0 0 57 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 21C6.42254 18.2921 11.8451 6.78276 14.9437 6.78276C19.2817 6.78276 19.5915 14.907 22.6901 14.2298C26.1724 13.2156 26.5634 8.13679 28.1127 7.45978C29.662 6.78276 31.2113 8.81369 32.7606 8.81369C34.7152 8.81369 37.4085 1.36662 39.7324 2.04351C42.4314 2.82965 45.9296 16.2609 49.0282 16.2609C52.1268 16.2609 52.9014 8.81377 56 8.81369" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <div class="default-text small-extra bold before-arrow lighter ml-auto">
                            +2,5%
                        </div>
                    </div>
                    <div class="default-card-links">
                        <a class="link primary" href="#">
                            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M4.08337 14.1666V15.8333C4.08337 16.2753 4.25897 16.6992 4.57153 17.0118C4.88409 17.3244 5.30801 17.5 5.75004 17.5H15.75C16.1921 17.5 16.616 17.3244 16.9286 17.0118C17.2411 16.6992 17.4167 16.2753 17.4167 15.8333V14.1666" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.58337 9.16663L10.75 13.3333L14.9167 9.16663" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.75 3.33331V13.3333" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Зарахувати
                        </a>
                        <a class="link primary" href="#">
                            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M3.58337 5.83337V4.16671C3.58337 3.72468 3.75897 3.30076 4.07153 2.9882C4.38409 2.67564 4.80801 2.50004 5.25004 2.50004H15.25C15.6921 2.50004 16.116 2.67564 16.4286 2.9882C16.7411 3.30076 16.9167 3.72468 16.9167 4.16671V5.83337" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.08337 10.8334L10.25 6.66671L14.4167 10.8334" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.25 16.6667V6.66669" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Вивести
                        </a>
                    </div>
                </div>
                <div class="default-card content-justify br-large-extra bg-primary p-y-middle p-x-middle-extra with-links pb-initial bg-accent">
                    <div class="default-card-col">
                        <div class="default-text dark small semi-bold">
                            Пайовий фонд
                        </div>
                        <div class="default-text dark extra extra-bold">
                            34,010.00 грн
                        </div>
                    </div>
                    <div class="default-card-col gap-none">
                        <a class="image-box tiny b-dark-opacity br-tiny content-center ml-auto mb-small" href="#">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8334 12.8333H1.16669C0.92752 12.8333 0.729187 12.635 0.729187 12.3958C0.729187 12.1566 0.92752 11.9583 1.16669 11.9583H12.8334C13.0725 11.9583 13.2709 12.1566 13.2709 12.3958C13.2709 12.635 13.0725 12.8333 12.8334 12.8333Z" fill="#10192D"/>
                                <path d="M5.6875 2.33335V12.8334H8.3125V2.33335C8.3125 1.69169 8.05 1.16669 7.2625 1.16669H6.7375C5.95 1.16669 5.6875 1.69169 5.6875 2.33335Z" fill="#10192D"/>
                                <path d="M1.75 5.83335V12.8334H4.08333V5.83335C4.08333 5.19169 3.85 4.66669 3.15 4.66669H2.68333C1.98333 4.66669 1.75 5.19169 1.75 5.83335Z" fill="#10192D"/>
                                <path d="M9.91669 8.74998V12.8333H12.25V8.74998C12.25 8.10831 12.0167 7.58331 11.3167 7.58331H10.85C10.15 7.58331 9.91669 8.10831 9.91669 8.74998Z" fill="#10192D"/>
                            </svg>
                        </a>
                        <div class="default-text small-extra bold dark ml-auto">
                            +2,5%
                        </div>
                    </div>
                    <div class="default-card-links one-col">
                        <a class="link primary" href="#">
                            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M4.08337 14.1666V15.8333C4.08337 16.2753 4.25897 16.6992 4.57153 17.0118C4.88409 17.3244 5.30801 17.5 5.75004 17.5H15.75C16.1921 17.5 16.616 17.3244 16.9286 17.0118C17.2411 16.6992 17.4167 16.2753 17.4167 15.8333V14.1666" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.58337 9.16663L10.75 13.3333L14.9167 9.16663" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.75 3.33331V13.3333" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Отримати
                        </a>
                    </div>
                </div>
            </div>
            <div class="default-text middle bold flex">
                Фонди
                <div class="default-text-span text-right small primary">
                    Усі
                </div>
            </div>
            <div class="default-cards mb-none">
                <div class="default-cards-row two-col flex-start with-overflow">
                    <a class="default-card bg-grey-lighter br-large-extra action" href="#">
                        <div class="default-text small bold dark">
                            Фішка
                        </div>
                        <svg class="default-card-image middle-height mt-middle-extra mb-small" width="123" height="54" viewBox="0 0 123 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 45C7.152 39.3573 9.71534 20.8902 14.3293 20.8902C17.918 20.8902 20.4813 30.1238 24.07 30.1238C28.1714 30.1238 29.7094 39.3573 32.2727 39.3573C34.836 39.3573 37.2341 20.8902 40.8228 20.8902C45.4368 20.8902 47.443 1.27806 51.5443 1.00462C55.6456 0.731174 58.1624 12.6826 62.7764 13.1956C65.8524 13.5376 66.6214 33.7146 69.6974 33.7146C73.2861 33.7146 77.5653 16.6812 81.6667 16.6812C85.768 16.6812 86.7467 39.3573 92.8987 39.3573C99.0507 39.3573 101.995 13.1955 108.147 13.1955C114.299 13.1955 114.823 24.2666 122 24.2666" stroke="#22C36B" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M14.3293 20.8902C9.71534 20.8902 7.152 39.3573 1 45V54H122V24.2666C114.823 24.2666 114.299 13.1955 108.147 13.1955C101.995 13.1955 99.0507 39.3573 92.8987 39.3573C86.7467 39.3573 85.768 16.6812 81.6667 16.6812C77.5653 16.6812 73.286 33.7146 69.6974 33.7146C66.6214 33.7146 65.8524 13.5376 62.7764 13.1956C58.1624 12.6826 55.6456 0.731174 51.5443 1.00462C47.443 1.27806 45.4368 20.8902 40.8228 20.8902C37.2341 20.8902 34.836 39.3573 32.2727 39.3573C29.7094 39.3573 28.1714 30.1238 24.07 30.1238C20.4813 30.1238 17.918 20.8902 14.3293 20.8902Z" fill="url(#paint0_linear_602_2081)"/>
                            <defs>
                                <linearGradient id="paint0_linear_602_2081" x1="61" y1="-46.5" x2="62" y2="56.5" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#22C36B" stop-opacity="0.4"/>
                                    <stop offset="1" stop-color="#22C36B" stop-opacity="0"/>
                                </linearGradient>
                            </defs>
                        </svg>
                        <div class="default-text small-extra bold flex dark">
                            20,788 грн
                            <span class="default-text-span success text-right">
                                +0,25%
                            </span>
                        </div>
                    </a>
                    <div class="default-card-box">
                        <div class="default-card bg-grey-lighter br-large-extra-top action active">
                            <div class="default-text small bold dark">
                                Фішка
                            </div>
                            <svg class="default-card-image middle-height mt-middle-extra mb-small" width="123" height="54" viewBox="0 0 123 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 45C7.152 39.3573 9.71534 20.8902 14.3293 20.8902C17.918 20.8902 20.4813 30.1238 24.07 30.1238C28.1714 30.1238 29.7094 39.3573 32.2727 39.3573C34.836 39.3573 37.2341 20.8902 40.8228 20.8902C45.4368 20.8902 47.443 1.27806 51.5443 1.00462C55.6456 0.731174 58.1624 12.6826 62.7764 13.1956C65.8524 13.5376 66.6214 33.7146 69.6974 33.7146C73.2861 33.7146 77.5653 16.6812 81.6667 16.6812C85.768 16.6812 86.7467 39.3573 92.8987 39.3573C99.0507 39.3573 101.995 13.1955 108.147 13.1955C114.299 13.1955 114.823 24.2666 122 24.2666" stroke="#22C36B" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M14.3293 20.8902C9.71534 20.8902 7.152 39.3573 1 45V54H122V24.2666C114.823 24.2666 114.299 13.1955 108.147 13.1955C101.995 13.1955 99.0507 39.3573 92.8987 39.3573C86.7467 39.3573 85.768 16.6812 81.6667 16.6812C77.5653 16.6812 73.286 33.7146 69.6974 33.7146C66.6214 33.7146 65.8524 13.5376 62.7764 13.1956C58.1624 12.6826 55.6456 0.731174 51.5443 1.00462C47.443 1.27806 45.4368 20.8902 40.8228 20.8902C37.2341 20.8902 34.836 39.3573 32.2727 39.3573C29.7094 39.3573 28.1714 30.1238 24.07 30.1238C20.4813 30.1238 17.918 20.8902 14.3293 20.8902Z" fill="url(#paint0_linear_602_2081)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_602_2081" x1="61" y1="-46.5" x2="62" y2="56.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#22C36B" stop-opacity="0.4"/>
                                        <stop offset="1" stop-color="#22C36B" stop-opacity="0"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <div class="default-text small-extra bold flex dark">
                                20,788 грн
                                <span class="default-text-span success text-right">
                                +0,25%
                            </span>
                            </div>
                        </div>
                        <div class="default-card-box-bottom">
                            <a class="link primary br-large-extra-bottom bg-success-lighter-opacity" href="#">
                                <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="M4.08337 14.1666V15.8333C4.08337 16.2753 4.25897 16.6992 4.57153 17.0118C4.88409 17.3244 5.30801 17.5 5.75004 17.5H15.75C16.1921 17.5 16.616 17.3244 16.9286 17.0118C17.2411 16.6992 17.4167 16.2753 17.4167 15.8333V14.1666" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.58337 9.16663L10.75 13.3333L14.9167 9.16663" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M10.75 3.33331V13.3333" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Отримати
                            </a>
                        </div>
                    </div>
                    <div class="default-card-box">
                        <div class="default-card bg-grey-lighter br-large-extra-top">
                            <div class="default-text small bold dark">
                                Фішка
                            </div>
                            <svg class="default-card-image middle-height mt-middle-extra mb-small" width="123" height="54" viewBox="0 0 123 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 45C7.152 39.3573 9.71534 20.8902 14.3293 20.8902C17.918 20.8902 20.4813 30.1238 24.07 30.1238C28.1714 30.1238 29.7094 39.3573 32.2727 39.3573C34.836 39.3573 37.2341 20.8902 40.8228 20.8902C45.4368 20.8902 47.443 1.27806 51.5443 1.00462C55.6456 0.731174 58.1624 12.6826 62.7764 13.1956C65.8524 13.5376 66.6214 33.7146 69.6974 33.7146C73.2861 33.7146 77.5653 16.6812 81.6667 16.6812C85.768 16.6812 86.7467 39.3573 92.8987 39.3573C99.0507 39.3573 101.995 13.1955 108.147 13.1955C114.299 13.1955 114.823 24.2666 122 24.2666" stroke="#22C36B" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M14.3293 20.8902C9.71534 20.8902 7.152 39.3573 1 45V54H122V24.2666C114.823 24.2666 114.299 13.1955 108.147 13.1955C101.995 13.1955 99.0507 39.3573 92.8987 39.3573C86.7467 39.3573 85.768 16.6812 81.6667 16.6812C77.5653 16.6812 73.286 33.7146 69.6974 33.7146C66.6214 33.7146 65.8524 13.5376 62.7764 13.1956C58.1624 12.6826 55.6456 0.731174 51.5443 1.00462C47.443 1.27806 45.4368 20.8902 40.8228 20.8902C37.2341 20.8902 34.836 39.3573 32.2727 39.3573C29.7094 39.3573 28.1714 30.1238 24.07 30.1238C20.4813 30.1238 17.918 20.8902 14.3293 20.8902Z" fill="url(#paint0_linear_602_2081)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_602_2081" x1="61" y1="-46.5" x2="62" y2="56.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#22C36B" stop-opacity="0.4"/>
                                        <stop offset="1" stop-color="#22C36B" stop-opacity="0"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <div class="default-text small-extra bold flex dark">
                                20,788 грн
                                <span class="default-text-span success text-right">
                                +0,25%
                            </span>
                            </div>
                        </div>
                        <div class="default-card-box-bottom">
                            <a class="link primary br-large-extra-bottom" href="#">
                                <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="M3.58337 5.83337V4.16671C3.58337 3.72468 3.75897 3.30076 4.07153 2.9882C4.38409 2.67564 4.80801 2.50004 5.25004 2.50004H15.25C15.6921 2.50004 16.116 2.67564 16.4286 2.9882C16.7411 3.30076 16.9167 3.72468 16.9167 4.16671V5.83337" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.08337 10.8334L10.25 6.66671L14.4167 10.8334" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M10.25 16.6667V6.66669" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Поповнити
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="default-text middle bold flex">
                Останні дії
                <div class="default-text-span text-right small primary">
                    Усі
                </div>
            </div>
            <div class="icon-with-text-list">
                <div class="icon-with-text">
                    <div class="icon-with-text-icon large mr-small">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.4016 24.8381C36.7301 35.5525 25.877 42.0731 15.1601 39.4012C4.44772 36.7301 -2.07358 25.8775 0.599038 15.1639C3.26931 4.44838 14.1225 -2.07268 24.836 0.598468C35.5521 3.26961 42.073 14.1234 39.4013 24.8383L39.4015 24.8381H39.4016Z" fill="#F2C94C"/>
                            <path d="M13.6666 27.6074V25.0468" stroke="#10192D" stroke-width="2" stroke-linecap="round"/>
                            <path d="M20 27.6069V22.4858" stroke="#10192D" stroke-width="2" stroke-linecap="round"/>
                            <path d="M26.3334 27.6074V19.9134" stroke="#10192D" stroke-width="2" stroke-linecap="round"/>
                            <path d="M26.3333 12.3925L25.7643 13.0605C22.61 16.7467 18.3795 19.3568 13.6666 20.5319" stroke="#10192D" stroke-width="2" stroke-linecap="round"/>
                            <path d="M22.7089 12.3925H26.3332V16.0045" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="icon-with-text-text col flex-max">
                        <div class="default-text small bold dark text-overflow pr-small">
                            Нарахування паїв
                        </div>
                        <div class="default-text small grey">
                            24.02.2022 — 15:27:36
                        </div>
                    </div>
                    <div class="icon-with-text-text col">
                        <div class="default-text small bold dark text-right">
                            129.53 ₴
                        </div>
                        <div class="default-text small-extra medium flex">
                            <div class="default-text-span success medium text-right">
                                17%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-with-text">
                    <div class="icon-with-text-icon large mr-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M39.4016 24.8381C36.7301 35.5525 25.877 42.0731 15.1601 39.4012C4.44772 36.7301 -2.07358 25.8775 0.599038 15.1639C3.26931 4.44838 14.1225 -2.07268 24.836 0.598468C35.5521 3.26961 42.073 14.1234 39.4013 24.8383L39.4015 24.8381H39.4016Z" fill="#27AE60"/>
                            <path d="M17.1665 28.6667L12.9998 24.5001L17.1665 20.3334" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.3779 24.5002L13.3779 24.5005" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8335 11.3333L27.0002 15.4999L22.8335 19.6666" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 15.5002L26.9998 15.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="icon-with-text-text col flex-max">
                        <div class="default-text small bold dark text-overflow pr-small">
                            Пайовий фонд → Крипто ва …
                        </div>
                        <div class="default-text small grey">
                            24.02.2022 — 15:27:36
                        </div>
                    </div>
                    <div class="icon-with-text-text col">
                        <div class="default-text small bold dark text-right">
                            129.53 ₴
                        </div>
                        <div class="default-text small-extra medium flex">
                            <div class="default-text-span primary-dark medium text-right">
                                17%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="links flex justify-between">
                    <a class="icon-link home active" href="#"></a>
                    <a class="icon-link search" href="#">
                        <svg class="icon-link-svg" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon-link-path" d="M11.8334 22.1011C17.0801 22.1011 21.3334 17.8 21.3334 12.4944C21.3334 7.18872 17.0801 2.88763 11.8334 2.88763C6.58667 2.88763 2.33337 7.18872 2.33337 12.4944C2.33337 17.8 6.58667 22.1011 11.8334 22.1011Z" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="icon-link-path" d="M22.3334 23.1124L20.3334 21.0899" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a class="icon-link directions" href="#">
                        <svg class="icon-link-svg" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon-link-path" d="M17.9468 11.4326L21.6667 7.67076L17.9468 3.909" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="icon-link-path" d="M3.66675 7.67078H21.6667" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="icon-link-path" d="M7.38672 14.5674L3.66675 18.3292L7.38672 22.091" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="icon-link-path" d="M21.6667 18.3292H3.66675" stroke="#8E9BAE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a class="icon-link category" href="#"></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
