<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/pages/index.scss">
</head>
<body>
    <div class="cards">
        <a class="cards-item" href="./sign-up-empty-state.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/4.%20Sign%20Up%20-%20Empty%20State.png" alt="">
        </a>
        <a class="cards-item" href="./setup-enter-code-verification.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/9.%20Setup%20-%20Enter%20Code%20Verification.png" alt="">
        </a>
        <a class="cards-item" href="./kyc-choose-document.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/17.%20KYC%20-%20Choose%20Document.png" alt="">
        </a>
        <a class="cards-item" href="./kyc-take-photo-documents.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/18.%20KYC%20-%20Take%20a%20Photo%20Documents%20-%20CTA.png" alt="">
        </a>
        <a class="cards-item" href="./kyc-take-scan-documents.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/19.%20KYC%20-%20Take%20a%20Scan%20Documents.png" alt="">
        </a>
        <a class="cards-item" href="./terms-condition-check.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/20.%20Term%20&%20Condition%20-%20Check.png" alt="">
        </a>
        <a class="cards-item" href="./home-v1.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/21.%20Home%20-%20V1.png" alt="">
        </a>
        <a class="cards-item" href="./detail-cryptocurrency.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/25.%20Detail%20Cryptocurrency%20-%20V1.png" alt="">
        </a>
        <a class="cards-item" href="./exchange-crypto-select-crypto.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/28.%20Exchange%20Crypto%20-%20Select%20Crypto.png" alt="">
        </a>
        <a class="cards-item" href="./exchange-crypto-confirmation.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/29.%20Exchange%20Crypto%20-%20Confirmation.png" alt="">
        </a>
        <a class="cards-item" href="./exchange-crypto-success.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/30.%20Exchange%20Crypto%20-%20Success.png" alt="">
        </a>
        <a class="cards-item" href="./buy-crypto.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/31.%20Buy%20-%20Crypto.png" alt="">
        </a>
        <a class="cards-item" href="./funds-transfer.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/31.%20Funds%20-%20Transfer.png" alt="">
        </a>
        <a class="cards-item" href="./buy-payment-method-example.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/32.%20Buy%20-%20Payment%20Method.png" alt="">
        </a>
        <a class="cards-item" href="./buy-payment-method.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/32.%20Buy%20-%20Payment%20Method%20(1).png" alt="">
        </a>
        <a class="cards-item" href="./profile-settings.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/34.%20Profile%20&%20Settings.png" alt="">
        </a>
        <a class="cards-item" href="./select-language.html" target="_blank">
            <img class="cards-item-img" src="../assets/screens/36.%20Select%20Language.png" alt="">
        </a>
    </div>
</body>
</html>
