<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/kyc-take-photo-documents.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
            </div>
            <h2>
                Verify Account
            </h2>
            <div class="default-text small grey">Take a photo of front of your Identity Card</div>
            <div class="image-box middle-extra m-x-auto m-y-auto p-y-small">
                <img class="image-box-img" src="../assets/images/card-image.svg" alt="">
            </div>
            <p>
                Сфотографуйте ваш документ на камеру, чи оберіть фото з галереї. Якщо ви маєте ID-картку, будь ласка, вкажіть це нижче.
            </p>
            <label class="checkbox m-default">
                <input class="checkbox-input" type="checkbox">
                <span class="checkbox-checkmark"></span>
                <span class="checkbox-text">
                        Мій паспорт — це ID-картка
                    </span>
            </label>
        </div>
        <div class="main-bottom">
            <div class="container">
                <button class="btn primary">
                    Next
                </button>
            </div>
        </div>
    </main>
</body>
</html>
