<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/kyc-choose-document.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
            </div>
            <h2>
                Let’s verify your identity
            </h2>
            <div class="default-text small grey">
                Choose your document to verify your identity
            </div>
            <div class="checkbox-list gap-small m-y-auto p-y-small">
                <div class="default-text small-extra grey semi-bold">
                    METHOD OF VERIFICATION
                </div>
                <label class="custom-checkbox bg-grey-lighter br-middle p-x-small p-y-small-tiny br-none">
                    <input class="custom-checkbox-input" type="checkbox" checked>
                    <span class="custom-checkbox-span with-arrow">
                            Паспорт або ID-картка
                        </span>
                    <span class="custom-checkbox-icon middle">
                            <img src="../assets/images/passport-icon.svg" alt="">
                        </span>
                </label>
                <label class="custom-checkbox bg-grey-lighter br-middle p-x-small p-y-small-tiny br-none">
                    <input class="custom-checkbox-input" type="checkbox">
                    <span class="custom-checkbox-span with-arrow">
                            РНОКПП (ІПН)
                        </span>
                    <span class="custom-checkbox-icon middle">
                            <img src="../assets/images/card-icon.svg" alt="">
                        </span>
                </label>
                <label class="custom-checkbox bg-grey-lighter br-middle p-x-small p-y-small-tiny br-none">
                    <input class="custom-checkbox-input" type="checkbox">
                    <span class="custom-checkbox-span with-arrow">
                            Фото із паспортом
                        </span>
                    <span class="custom-checkbox-icon middle">
                            <img src="../assets/images/document-icon.svg" alt="">
                        </span>
                </label>
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <button class="btn primary" disabled>
                    Continue
                </button>
            </div>
        </div>
    </main>
</body>
</html>
