<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/login-empty-state.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
            </div>
            <h2>
                Welcome Back!
            </h2>
            <div class="default-text small grey-dark">
                You have been missed
            </div>
            <form class="form" action="">
                <label class="input-box">
                    <input
                            class="input"
                            placeholder="Phone Number"
                            type="tel"
                    >
                    <span class="info-block warning">
                            Validation error message
                        </span>
                </label>
                <label class="input-box">
                    <input
                            class="input-box-input input"
                            placeholder="Password"
                            type="password"
                    >
                    <span class="input-box-icon"></span>
                    <span class="info-block warning">
                            Validation error message
                        </span>
                </label>
                <a class="link text-right mt-tiny" href="#">
                    Forgot Password?
                </a>
                <button class="btn primary mt-small">
                    Sign In
                </button>
            </form>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="default-text small text-center">
                    Don’t have an account?
                    <a class="link" href="#">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
