<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/select-language.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
                <div class="default-text middle bold text-center">
                    Select Language
                </div>
            </div>
            <div class="search">
                <button class="search-btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#10192D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 22L20 20" stroke="#10192D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <label class="search-label">
                    <input
                            class="search-input"
                            placeholder="Search..."
                            type="search"
                    >
                </label>
            </div>
            <div class="checkbox-list">
                <label class="custom-checkbox">
                    <input class="custom-checkbox-input" type="checkbox" checked>
                    <span class="custom-checkbox-span">English</span>
                    <span class="custom-checkbox-icon">
                            <img src="../assets/images/english.svg" alt="">
                        </span>
                </label>
                <label class="custom-checkbox">
                    <input class="custom-checkbox-input" type="checkbox">
                    <span class="custom-checkbox-span">Русский</span>
                    <span class="custom-checkbox-icon">
                            <img src="../assets/images/russia.svg" alt="">
                        </span>
                </label>
                <label class="custom-checkbox">
                    <input class="custom-checkbox-input" type="checkbox">
                    <span class="custom-checkbox-span">Українська</span>
                    <span class="custom-checkbox-icon">
                            <img src="../assets/images/ukraine.svg" alt="">
                        </span>
                </label>
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <button class="btn primary">
                    Save Changes
                </button>
            </div>
        </div>
    </main>
</body>
</html>
