<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/setup-enter-code-verifiction.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
            </div>
            <h2>
                Enter Verification Code
            </h2>
            <div class="default-text small grey-dark">
                Enter 4-digit code the we just send to your phone number
                <span class="default-text-span">+38 (066) 234-56-77</span>
            </div>
            <form class="form" action="">
                <div class="form-row four-col justify-center">
                    <label>
                        <input
                                class="input code"
                                type="text"
                        >
                    </label>
                    <label>
                        <input
                                class="input code"
                                type="text"
                        >
                    </label>
                    <label>
                        <input
                                class="input code"
                                type="text"
                        >
                    </label>
                    <label>
                        <input
                                class="input code"
                                type="text"
                        >
                    </label>
                </div>
            </form>
            <div class="default-text small text-center mt-middle">
                Resend code in
                <span class="link">29:58</span>
            </div>
        </div>
        <div class="main-bottom">
            <div class="container">
                <button class="btn primary">
                    Verify
                </button>
                <div class="keyboard">
                    <button class="keyboard-btn">1</button>
                    <button class="keyboard-btn">2</button>
                    <button class="keyboard-btn">3</button>
                    <button class="keyboard-btn">4</button>
                    <button class="keyboard-btn">5</button>
                    <button class="keyboard-btn">6</button>
                    <button class="keyboard-btn">7</button>
                    <button class="keyboard-btn">8</button>
                    <button class="keyboard-btn">9</button>
                    <button class="keyboard-btn">
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.8333 12H5.83331" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.8333 12L13.8333 18" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.8333 12L13.8333 6" stroke="#10192D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="keyboard-btn">0</button>
                    <button class="keyboard-btn">
                        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.4999 7C23.8093 7 24.106 7.12292 24.3248 7.34171C24.5436 7.5605 24.6665 7.85725 24.6665 8.16667V19.8333C24.6665 20.1428 24.5436 20.4395 24.3248 20.6583C24.106 20.8771 23.8093 21 23.4999 21H10.6665L4.8332 15.1667C4.54623 14.8458 4.38757 14.4305 4.38757 14C4.38757 13.5695 4.54623 13.1542 4.8332 12.8333L10.6665 7H23.4999Z" stroke="#10192D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.8333 11.6666L14.1666 16.3333M14.1666 11.6666L18.8333 16.3333L14.1666 11.6666Z" stroke="#10192D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
