<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/sign-up-empty-state.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
            </div>
            <h2>
                Sign Up
            </h2>
            <div class="default-text small grey-dark">
                It only takes a minute to create your account
            </div>
            <form class="form" action="">
                <div class="form-row">
                    <label class="input-box">
                        <input
                            class="input"
                            placeholder="First Name"
                            type="tel"
                        >
                        <span class="info-block warning">
                            Validation error message
                        </span>
                    </label>
                    <label class="input-box">
                        <input
                            class="input"
                            placeholder="Last Name"
                            type="tel"
                        >
                        <span class="info-block warning">
                            Validation error message
                        </span>
                    </label>
                </div>
                <label class="input-box">
                    <input
                        class="input"
                        placeholder="Email"
                        type="email"
                    >
                    <span class="info-block warning">
                        Validation error message
                    </span>
                </label>
                <label class="input-box">
                    <span class="input-with-select">
                        <span class="input-with-select-select select">
                            <span class="select-selected" data-select-action data-select-open>
                                <span class="select-selected-title" data-select-title>
                                    +38
                                </span>
                                <svg class="select-arrow rotate" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9467 5.45337H7.79334H4.05334C3.41334 5.45337 3.09334 6.2267 3.54667 6.68004L7 10.1334C7.55334 10.6867 8.45334 10.6867 9.00667 10.1334L10.32 8.82004L12.46 6.68004C12.9067 6.2267 12.5867 5.45337 11.9467 5.45337Z" fill="#10192D"/>
                                </svg>
                            </span>
                            <span class="select-list open">
                                <span class="select-list-item">+38</span>
                                <span class="select-list-item">+77</span>
                                <span class="select-list-item">+99</span>
                            </span>
                            <input class="select-input" type="text">
                        </span>
                        <input class="input-with-select-input input" placeholder="(XXX) XXX - XX - XX" type="text">
                    </span>
                    <span class="info-block warning">
                        Validation error message
                    </span>
                </label>
                <label class="input-box">
                    <input
                        class="input-box-input input"
                        placeholder="Password"
                        type="password"
                    >
                    <span class="input-box-icon"></span>
                    <span class="info-block warning">
                        Validation error message
                    </span>
                </label>
                <label class="checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-checkmark"></span>
                    <span class="checkbox-text">
                        I agree the Mobi.Bank
                        <a class="checkbox-text-link link" href="">Terms of Services</a> and
                        <a class="checkbox-text-link link" href="">Privacy Policy</a>
                    </span>
                </label>
                <button class="btn primary mt-small">
                    Sign Up
                </button>
            </form>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="default-text small text-center">
                    Already registered?
                    <a class="link" href="#">
                        Sign In
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
