<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptoline</title>
    <link rel="stylesheet" href="../styles/pages/terms-condition-check.scss">
</head>
<body>
    <main class="main">
        <div class="main-top">
            <div class="main-top-header">
                <a class="return-btn" href="/"></a>
                <div class="default-text middle bold text-center">
                    Terms of Service
                </div>
            </div>
            <p>
                Last update on August 2021
            </p>
            <h3>
                Terms
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adip ielit ut aliquam, purus sit
                amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
                dolor purus non enim praesent  facilisis leo, vel fringilla  eget nulla
                facilisi etiam diam quis enim lobortis scelerisque fermentum dui faucibus
                in ornare quam viverra.
            </p>
            <h3>
                Use License
            </h3>
            <p>
                Adipiscing tempus feugiat viverra iaculis modo quisque dictum quis tellus. Odio et a ac pretium
                nulla pharetra in. Cursus aenean condimentum volutpat ullamcorper eu, feugiat sed massa. In
                lacinia scelerisque a tortor aliquet
                Est et aenean proin facilisis sed aliquam vitae. Adipiscing porttitor lacus sit in. Dignissim
                entum blandit massa, est viverra volutpat sed tellus. Mauris purus habitant duis.
            </p>
        </div>
        <div class="main-bottom">
            <div class="container">
                <div class="buttons">
                    <button class="btn bordered">
                        Declined
                    </button>
                    <button class="btn primary">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
