* {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  &-item {
    flex: 1 0 12.5%;
    max-width: 12.5%;
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;

    &-img {
      height: 100%;
      width: 100%;
    }
  }
}
