//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

.btn {
  border: 1px solid transparent;
  border-radius: $br-middle;
  background: transparent;
  font-size: $font-size-16;
  line-height: $line-height-24;
  font-weight: $font-weight-bold;
  text-align: center;
  width: 100%;
  height: 56px;
  color: $text-dark;

  &.bordered {
    border-color: $border-grey-light;
  }

  &.primary {
    background: $background-primary;
    color: $text-lighter;
  }

  &.mt-small {
    margin-top: 16px;
  }

  &[disabled] {
    background: $background-grey-light;
    color: $text-grey;
  }

  &.flex {
    display: flex;
  }

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.height-initial {
    height: initial;
  }
}
