//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

.search {
  border: 1px solid $border-grey-light;
  border-radius: $br-middle;
  min-height: 56px;
  max-height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  &.mb-middle-extra {
    margin-bottom: 24px;
  }

  &-btn {
    display: flex;
    border: none;
    background: transparent;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }

  &-label {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &-input {
    border: none;
    width: 100%;
    outline: none;
    padding-left: 16px;
    font-size: $font-size-14;
    color: $text-dark;
    font-weight: $font-weight-semi-bold;

    &::placeholder {
      font-size: $font-size-14;
      color: $text-grey;
      font-weight: $font-weight-regular;
    }
  }
}
