//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

h2 {
  font-size: $font-size-24;
  line-height: $line-height-30;
  font-weight: $font-weight-extra-bold;
  margin-bottom: 16px;

  &.text-center {
    text-align: center;
  }
}

h3 {
  font-size: $font-size-18;
  line-height: $line-height-26;
  font-weight: $font-weight-bold;
  margin-bottom: 12px;
}

h4 {
  font-size: $font-size-16;
  line-height: $line-height-24;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}
