.default-cards {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 32px;

  &.gap-extra {
    grid-gap: 52px;
  }

  &.mt-small {
    margin-top: 16px;
  }

  &.mb-small {
    margin-bottom: 16px;
  }

  &.mb-middle-extra {
    margin-bottom: 24px;
  }

  &.mb-none {
    margin-bottom: 0;
  }

  &-row {
    display: grid;
    grid-gap: 16px;

    &.col-md-sm {
      grid-template-columns: 1fr auto;
    }

    &.two-col {
      grid-template-columns: 1fr 1fr;
    }

    &.flex-start {
      align-items: flex-start;
    }

    &.with-overflow {
      overflow: auto;
      display: flex;
      padding: 30px 24px;
      margin: 0 -24px;
      width: calc(100% + 48px);

      &::-webkit-scrollbar {
        display: none;
      }

      .default-card,
      .default-card-box {
        flex: 1 0 calc(50% - 16px);
      }
    }
  }
}
