@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/Open-Sauce-Sans/OpenSauceSans-Light.ttf") format("opentype");
}

@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/Open-Sauce-Sans/OpenSauceSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/Open-Sauce-Sans/OpenSauceSans-SemiBold.ttf") format("opentype");
}

