//Main font
$app-font:  'Manrope', sans-serif;
$custom-font: 'Open Sauce Sans', sans-serif;

// Breakpoints values
$screen-tin:     375px;

// Fonts sizes
$font-size-6: 0.375rem;
$font-size-8: 0.5rem;
$font-size-9: 0.5625rem;
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-17: 1.0625rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-33: 2.0625rem;
$font-size-34: 2.125rem;
$font-size-36: 2.25rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-42: 2.625rem;
$font-size-46: 2.875rem;
$font-size-48: 3rem;
$font-size-52: 3.25rem;
$font-size-60: 3.75rem;
$font-size-72: 4.5rem;

//desktop line height
$line-height-72:     $font-size-72;
$line-height-60:     $font-size-60;
$line-height-48:     $font-size-48;
$line-height-42:     $font-size-42;
$line-height-40:     $font-size-40;
$line-height-36:     $font-size-36;
$line-height-34:     $font-size-34;
$line-height-32:     $font-size-32;
$line-height-30:     $font-size-30;
$line-height-28:     $font-size-28;
$line-height-26:     $font-size-26;
$line-height-24:     $font-size-24;
$line-height-22:     $font-size-22;
$line-height-20:     $font-size-20;
$line-height-18:     $font-size-18;
$line-height-16:     $font-size-16;
$line-height-14:     $font-size-14;
$line-height-12:     $font-size-12;
$line-height-10:     $font-size-10;
$line-height-8:      $font-size-8;

//border-radius
$br-full: 50%;
$br-large: 40px;
$br-large-xxl-top: 32px 32px 0 0;
$br-large-extra-big: 28px;
$br-large-extra-xl: 24px;
$br-large-extra: 20px;
$br-large-extra-top: 20px 20px 0 0;
$br-large-extra-bottom: 0 0 20px 20px;
$br-middle: 16px;
$br-middle-extra: 15px;
$br-middle-tiny: 12px;
$br-small-xl: 10px;
$br-small: 8px;
$br-tiny: 6px;
$br-tiny-top: 6px 6px 0 0;
$br-tiny-bottom: 0 0 6px 6px;

//font-weight
$font-weight-extra-bold:  800;
$font-weight-bold:        700;
$font-weight-semi-bold:   600;
$font-weight-medium:      500;
$font-weight-regular:     400;

